header h1 {
  font-size: rem-calc(20);
  line-height: rem-calc(30);
  margin: 0 0 rem-calc(10);
}
.header h2 {
  background: $ems-blue;
  color: $white !important;
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: rem-calc(18);
}

.checklist__items {
  clear: both;
  margin: 0;
  li {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: rem-calc(8 0);
    span {
      font-size: rem-calc(14);
      line-height: rem-calc(14);
    }
  }
  li:nth-of-type(odd) {
    border-right: 1px solid $ems-grey;
  }
  li:nth-of-type(3),li:nth-of-type(4n), li:nth-of-type(7), li:nth-of-type(11), li:nth-of-type(15), li:nth-of-type(19)  {
    background: $light-gray;
  }
}

svg.checkbox {
  width: 15px;
  height: 15px;
  display: inline;
  vertical-align: top;
}
input[type=checkbox] {
  display: none;
  & + label {
    margin: rem-calc(0 0 -5);

    .icon-checkbox-off {
      display: inline-block;
    }
    .icon-checkbox-on {
      display: none;
    }
  }
  &:checked + label {
    .icon-checkbox-off {
      display: none;
    }
    .icon-checkbox-on {
      display: inline-block;
    }
  }
}

.checklist__header {
  h3 {
    margin: 0;
    color: $white !important;
    font-size: rem-calc(16);
  }
  p {
    color: $white !important;
    font-size: rem-calc(14);
  }
}
