header h1 {
  font-size: rem-calc(30);
  line-height: rem-calc(30);
  margin: 0;
}
.header h2 {
  background: $ems-blue;
  color: #fff;
  margin: 0;
  text-align: center;
}

.checklist__items {
  clear: both;
  margin: 0;
  li {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: rem-calc(5 0);
    span {
      font-size: rem-calc(14);
    }
  }
  li:nth-of-type(even) {
    background: $light-gray;
  }
}

svg.checkbox {
  width: 20px;
  height: 20px;
  display: inline;
  vertical-align: top;
}
input[type=checkbox] {
  display: none;
  & + label {
    margin: rem-calc(0 0 -5);

    .icon-checkbox-off {
      display: inline-block;
    }
    .icon-checkbox-on {
      display: none;
    }
  }
  &:checked + label {
    .icon-checkbox-off {
      display: none;
    }
    .icon-checkbox-on {
      display: inline-block;
    }
  }
}


@media print {
  .checklist__option-list {
    width: 50%;
  }
  .checklist__header {
    background: $ems-grey!important;
    h3 {
      color: $white !important;
    }
    p {
      color: $white !important;
    }
  }
  .header h2 {
    background: $ems-blue !important;
    color: $white !important;
  }
  .checklist__items li:nth-of-type(even) {
    background: #eee !important;
  }
}
