@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

/* Font style Normal */
@font-face {
  font-family: 'Bariol';
  src: url("../fonts/bariol/bariol_thin-webfont.eot");
  src: url("../fonts/bariol/bariol_thin-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/bariol/bariol_thin-webfont.woff") format("woff"),
       url("../fonts/bariol/bariol_thin-webfont.ttf") format("truetype"),
       url("../fonts/bariol/bariol_thin-webfont.svg#bariol_thin-webfont") format("svg");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Bariol';
  src: url("../fonts/bariol/bariol_light-webfont.eot");
  src: url("../fonts/bariol/bariol_light-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/bariol/bariol_light-webfont.woff") format("woff"),
       url("../fonts/bariol/bariol_light-webfont.ttf") format("truetype"),
       url("../fonts/bariol/bariol_light-webfont.svg#bariol_light-webfont") format("svg");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Bariol';
  src: url("../fonts/bariol/bariol_regular-webfont.eot");
  src: url("../fonts/bariol/bariol_regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/bariol/bariol_regular-webfont.woff") format("woff"),
       url("../fonts/bariol/bariol_regular-webfont.ttf") format("truetype"),
       url("../fonts/bariol/bariol_regular-webfont.svg#bariol_regular-webfont") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Bariol';
  src: url("../fonts/bariol/bariol_bold-webfont.eot");
  src: url("../fonts/bariol/bariol_bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/bariol/bariol_bold-webfont.woff") format("woff"),
       url("../fonts/bariol/bariol_bold-webfont.ttf") format("truetype"),
       url("../fonts/bariol/bariol_bold-webfont.svg#bariol_bold-webfont") format("svg");
  font-style: normal;
  font-weight: 600;
}

/* Font style Italic */
@font-face {
  font-family: 'Bariol';
  src: url("../fonts/bariol/bariol_thin_italic-webfont.eot");
  src: url("../fonts/bariol/bariol_thin_italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/bariol/bariol_thin_italic-webfont.woff") format("woff"),
       url("../fonts/bariol/bariol_thin_italic-webfont.ttf") format("truetype"),
       url("../fonts/bariol/bariol_thin_italic-webfont.svg#bariol_thin_italic-webfont") format("svg");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: 'Bariol';
  src: url("../fonts/bariol/bariol_light_italic-webfont.eot");
  src: url("../fonts/bariol/bariol_light_italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/bariol/bariol_light_italic-webfont.woff") format("woff"),
       url("../fonts/bariol/bariol_light_italic-webfont.ttf") format("truetype"),
       url("../fonts/bariol/bariol_light_italic-webfont.svg#bariol_light_italic-webfont") format("svg");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Bariol';
  src: url("../fonts/bariol/bariol_regular_italic-webfont.eot");
  src: url("../fonts/bariol/bariol_regular_italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/bariol/bariol_regular_italic-webfont.woff") format("woff"),
       url("../fonts/bariol/bariol_regular_italic-webfont.ttf") format("truetype"),
       url("../fonts/bariol/bariol_regular_italic-webfont.svg#bariol_regular_italic-webfont") format("svg");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Bariol';
  src: url("../fonts/bariol/bariol_bold_italic-webfont.eot");
  src: url("../fonts/bariol/bariol_bold_italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/bariol/bariol_bold_italic-webfont.woff") format("woff"),
       url("../fonts/bariol/bariol_bold_italic-webfont.ttf") format("truetype"),
       url("../fonts/bariol/bariol_bold_italic-webfont.svg#bariol_bold_italic-webfont") format("svg");
  font-style: italic;
  font-weight: 600;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Bariol';
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: uppercase;
}
.row .row {
  margin-left: 0;
  margin-right: 0;
}

.checklist__items {
  clear: both;
  margin: 0;
  li {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: rem-calc(5 0);
    span {
      font-size: rem-calc(14);
    }
  }
  li:nth-of-type(even) {
    background: #eee;
  }
}
.checklist__header {
  background: #424242;
  color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  p {
    font-size: rem-calc(14);
    margin: 0;
  }
}
.header h2 {
  background: #00aeef;
  color: #fff;
  margin: 0;
  text-align: center;
}
.checklist {
  margin-bottom: rem-calc(5);
}

svg.checkbox {
  width: 20px;
  height: 20px;
  display: inline;
  vertical-align: top;
}
input[type=checkbox] {
  display: none;
  & + label {
    margin: rem-calc(0 0 -5);

    .icon-checkbox-off {
      display: inline-block;
    }
    .icon-checkbox-on {
      display: none;
    }
  }
  &:checked + label {
    .icon-checkbox-off {
      display: none;
    }
    .icon-checkbox-on {
      display: inline-block;
    }
  }
}

.checklist__option-list {
  &:nth-of-type(odd) {
    float: left !important;
    clear: left;
    padding-right: rem-calc(1);
  }
  &:nth-of-type(even) {
    float: right !important;
    clear: right;
    padding-left: rem-calc(1);
  }
}

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
@media print {
  .checklist__option-list {
    width: 50%;
  }
  .checklist__header {
    background: #424242!important;
    h3 {
      color: #ffffff !important;
    }
    p {
      color: #ffffff !important;
    }
  }
  .header h2 {
    background: #00aeef !important;
    color: #ffffff !important;
  }
  .checklist__items li:nth-of-type(even) {
    background: #eee !important;
  }
}
