.checklist__header {
  background: $ems-grey;
  color: $white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  p {
    font-size: rem-calc(10);
    margin: 0;
  }
}

.checklist {
  margin-bottom: rem-calc(5);
}

.checklist__items {
  .row {
    width: 50%;
    float: left;
  }
}
.checklist__option-list {
  width: 100%;
  border-bottom: 1px solid $ems-grey;
}
.checklist__options {
  width: 100%;
}
