.checklist__header {
  background: $ems-grey;
  color: $white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  p {
    font-size: rem-calc(14);
    margin: 0;
  }
}

.checklist {
  margin-bottom: rem-calc(5);
}

.checklist__option-list {
  width: 100%;
  break-inside: avoid;
  &:nth-of-type(odd) {
    float: left !important;
    clear: left;
  }
  &:nth-of-type(even) {
    float: right !important;
    clear: right;
  }
}
.checklist__options {
  columns: 2;
  column-gap: 2px;
  width: 100%;
  padding: 0 rem-calc(15);
}
