<footer>
  <div class="row">
    <div class="small-12 columns">
      <label for="comments">Designers Comments</label>
      <textarea id="comments"></textarea>
    </div>
    <div class="small-12 columns">
      <p>
        By signing below you are confirming that great care has been taken to ensure the coded proof matches the flat design closely, has good quality aspects & thought, all links work accordingly and all the above accounted for.
      </p>
    </div>
    <div class="small-6 columns form-group">
      <input id="comsig" type="text" name="comsig" required>
      <label for="comsig">Designer Sign</label>
    </div>
    <div class="small-6 columns form-group">
      <input id="comdate" type="text" name="comdate" required>
      <label for="comdate">Completion Date</label>
    </div>
    <div class="small-6 columns form-group">
      <input id="asssig" type="text" name="asssig" required>
      <label for="asssig">Quality Assessor Sign</label>
    </div>
    <div class="small-6 columns form-group">
      <input id="signdate" type="text" name="signdate" required>
      <label for="signdate">Sign-off Date</label>
    </div>
  </div>
</header>
