<header class="row">
  <div class="small-12 columns">
    <h1>10 Page Responsive Coding Sign-Off Sheet</h1>
  </div>
  <div class="small-4 columns form-group">
    <label for="name">Designers Name</label>
    <input id="name" type="text" name="name">
  </div>
  <div class="small-4 columns form-group">
    <label for="date">Date Started</label>
    <input id="date" type="text" name="date" placeholder="dd/mm/yyyy">
  </div>
  <div class="small-4 columns form-group">
    <label for="time">Time Taken</label>
    <input id="time" type="text" name="date">
  </div>
</header>
