<header>
  <div class="row">
    <!-- <div class="small-3 columns">
      <img src="assets/img/logo.png" alt="" />
    </div> -->
    <div class="small-12 columns">
      <div class="row">
        <div class="small-12 columns">
          <h1>10 Page Responsive Coding Sign-Off Sheet</h1>
        </div>
        <div class="small-4 columns form-group end">
          <input id="ac-name" type="text" name="ac-name" required>
          <label for="ac-name">Account Name</label>
        </div>
        <div class="small-2 columns form-group" >
          <input id="ac-number" type="text" name="ac-number" required>
          <label for="ac-number">Account Number</label>
        </div>
        <div class="small-2 columns form-group">
          <input id="name" type="text" name="name" required>
          <label for="name">Designers Name</label>
        </div>
        <div class="small-2 columns form-group" >
          <input id="date" type="text" name="date" required>
          <label for="date">Date Started</label>
        </div>
        <div class="small-2 columns form-group">
          <input id="time" type="text" name="time" required>
          <label for="time">Time Taken</label>
        </div>
      </div>
    </div>
  </div>
</header>
